html, body, #root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  color: #fff;
  font-size: 1.5rem;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  padding: 10px;
  border-radius: 10px;
}

.counter button {
  height: 30px;
  width: 30px;
  margin: 0 10px;
  border-radius: 50%;
  border: 0;
  background-color: #212121;
  color: rgba(255, 255, 255, 0.8);
}
